.base-ripple-container {
  position: relative;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.base-ripple {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  animation: baseRipple 600ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform, opacity;

  background-color: rgba(255, 255, 255, 0.2); /* fallback */
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

@keyframes baseRipple {
  from {
    transform: translate3d(
        calc(var(--base-ripple-keyframes-from-x) - 50%),
        calc(var(--base-ripple-keyframes-from-y) - 50%),
        0
      )
      scale(0);
  }
  to {
    transform: translate3d(
        calc(var(--base-ripple-keyframes-to-x) - 50%),
        calc(var(--base-ripple-keyframes-to-y) - 50%),
        0
      )
      scale(1);
  }
}
